form label {
    margin: 0;
    padding: 0;
}

#availableHoursContainer {
    gap: 6px;
    flex-wrap: wrap;
    padding: 0;
}

#availableHoursContainer p {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

.label-container {
    background-color: #12629C;
    width: 74px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.label-container:hover {
    background-color: #004270;
}

.radio-button {
    display: block;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    align-content: center;
}

.radio-button input[type="radio"]:checked + span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    color: white;
    align-content: center;
}

#datepicker,
#pet {
    margin-bottom: 20px;
}

.error:nth-of-type(1):not(:last-of-type),
.error:nth-of-type(2):not(:last-of-type) {
    margin-top: -23px;
    padding-bottom: 4px;
}