header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #12629C;
    box-shadow: 0 0 20px 0 #12629C;
    background-image: url('../img/background.png');
    background-color: #f7fbff;
    background-size: 1920px 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header ul {
    display: flex;
    height: 100%;
}

header li {
    height: 100%;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 120px;
    color: #004270;
    font-weight: bold;
}

header li > a:hover{
    color: white;
    background-color: #12629C;
}

header .logo {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
}

header .logo > a {
    display: block;
    padding: 10px 30px;
}

header img {
    height: 100%;
    width: 100%;
}