body {
    background-image: url("https://images.ctfassets.net/rt5zmd3ipxai/3A8A0XUWSnu46pgON14NAe/c39526820edf7d6ac170ba09eb162c86/NVA-Studio-Dog-Tongue-Blue.png?fit=fill&fm=webp&h=567&w=1485&q=75,%20https://images.ctfassets.net/rt5zmd3ipxai/3A8A0XUWSnu46pgON14NAe/c39526820edf7d6ac170ba09eb162c86/NVA-Studio-Dog-Tongue-Blue.png?fit=fill&fm=webp&h=1134&w=2970&q=75");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

form {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.70);
}

form > * {
    padding: 10px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

button {
    background-color: rgb(66, 66, 236);
    color: white;
    padding: 10px;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(43, 43, 187);
    cursor: pointer;
}