form {
    all: unset;
}

.container {
    margin-top: 40px;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container li {
    width: 260px;
    border: 1px solid #004270;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.container li > * {
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pet-picture {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #12629C;
    border-radius: 4px;
}

.pet-details {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

button {
    width: 100%;
    margin: 0;
}

/*form {*/
/*    all: unset;*/
/*}*/

/*.container {*/
/*    margin-top: 40px;*/
/*}*/

/*.container ul {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

/*.container li {*/
/*    width: 800px;*/
/*    border: 1px solid #004270;*/
/*    border-radius: 4px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    gap: 10px;*/
/*    padding: 20px;*/
/*}*/

/*.details {*/
/*    display: flex;*/
/*    gap: 20px;*/
/*}*/

/*.pet-picture {*/
/*    width: 160px;*/
/*    aspect-ratio: 1 / 1;*/
/*    background-color: #12629C;*/
/*    border-radius: 4px;*/
/*}*/

/*.buttons {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*}*/

/*button {*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/