form {
    margin-top: 20px;
}

form > h1 {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
}

span.error {
    padding-bottom: 4px;
    margin: -23px 0 0 0;
}

#city {
    margin-bottom: 20px;
}