<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Med App</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/admin-home.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
<header th:insert="~{fragments/commons::nav}"></header>

<main>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>New Role</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.role}"></td>
                <form th:method="POST" th:action="@{'/users/' + ${user.username} + '/change-role'}">
                <td>
                    <select name="new-role">
                        <option value="">Select role</option>
                        <option th:each="role : ${T(com.petMed.user.model.Role).values()}" th:value="${role}" th:text="${role}"></option>
                    </select>
                </td>
                <td>
                        <button type="submit">Save</button>
                </td>
                </form>
            </tr>
            <tbody>

            </tbody>
        </table>

    </div>
</main>
<script th:src="@{/js/no-role-selected-alert.js}"></script>
</body>
</html>