<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>

<body>

<header th:replace="~{fragments/commons::nav}"></header>

<main>
    <ul th:each="vet : ${vets}">
        <li>
            <div class="vet-profile-pic">

            </div>

            <div class="vet-description">
                <p th:text="${vet.fistName}"></p>
                <p th:text="${vet.clinic.city}"></p>
                <form th:action="'/appointments/book/' + ${vet.username}" th:method="GET">
                    <button type="submit">Request an Appointment</button>
                </form>
            </div>
        </li>
    </ul>
</main>

</body>
</html>