<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pet Med App</title>
    <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
<header th:insert="~{fragments/commons::nav}"></header>

<main>
    <div class="container">
        <ul>
            <li th:each="vet : ${vets}" th:if="${vet.clinic != null}">
                <div class="vet-profile-pic">
                    <img th:src="${vet.imageUrl}" alt="Profile Photo">
                </div>

                <div class="vet-description">
                    <div class="vet-info">
                        <p th:text="'Name: ' + ${vet.firstName} + ' ' + ${vet.lastName}"></p>
                        <p th:text="'Clinic: ' + ${vet.clinic.name}"></p>
                        <p th:text="'City: ' + ${vet.clinic.city}"></p>
                        <p th:text="'Address: ' + ${vet.clinic.address}"></p>
                    </div>
                    <form th:action="'/appointments/book/' + ${vet.username}" th:method="GET">
                        <button type="submit"  sec:authorize="!hasRole('VET') and !hasRole('ADMIN')">Request an Appointment</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</main>

</body>
</html>