<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Med App</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/pet-form.css"/>
</head>

<body>

<header th:insert="~{fragments/commons::nav}"></header>

<main>
    <div class="container">
        <div class="no-content" th:if="${medicalRecords.isEmpty()}">
            <h2>There are no medical records for this pet</h2>
        </div>

        <div class="table-container"  th:unless="${medicalRecords.isEmpty()}">
            <h2 th:text="'Medical records for ' + ${medicalRecords.getFirst().pet.name}"></h2>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Diagnosis</th>
                    <th>Treatment</th>
                    <th>Vet</th>
                    <th>Clinic</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${medicalRecords}">
                    <td th:text="${#temporals.format(record.createdOn, 'dd-MM-yyyy')}"></td>
                    <td th:text="${record.diagnosis}"></td>
                    <td th:text="${record.treatment}"></td>
                    <td th:text="${record.appointment.vet.firstName} + ' ' + ${record.appointment.vet.lastName}"></td>
                    <td th:text="${record.appointment.vet.clinic.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>