<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Med App</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/register-owner.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

<header th:insert="~{fragments/commons::nav}"></header>

<main>
        <div class="container">
            <form th:action="@{/register-owner}" th:method="POST" th:object="${petOwnerRegisterRequest}">
                <h1>Register</h1>

                <input type="text" id="username" name="username" placeholder="Username" th:field="*{username}">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

                <input type="text" id="first-name" name="first-name" placeholder="First Name" th:field="*{firstName}">
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

                <input type="text" id="last-name" name="last-name" placeholder="Last Name" th:field="*{lastName}">
                <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

                <input type="email" id="email" name="email" placeholder="Email" th:field="*{email}">
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                <input type="text" id="phone" name="phone" placeholder="Phone" th:field="*{phone}">
                <span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>

                <input type="password" id="password" name="password" placeholder="Password" th:field="*{password}">
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" th:field="*{confirmPassword}">
                <span class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>

                <button type="submit">Register</button>
            </form>
        </div>
</main>

</body>
</html>