<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Med App</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/server-error.css"/>
</head>

<body>
<header th:insert="~{fragments/commons::nav}"></header>
<div class="img-container">
    <h1>Oops! Something went wrong...</h1>
    <div class="img">
        <a class="go-back button" th:href="@{/}">Go Home</a>
    </div>
</div>
</body>
</html>