<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Med App</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/user-pets.css"/>
</head>

<body>
<header th:insert="~{fragments/commons::nav}"></header>

<main>
    <input type="hidden" id="username" th:value="${username}">
    <div class="container">
        <ul th:unless="${pets.isEmpty()}">
            <li th:each="pet : ${pets}">
                <div class="details">
                    <div class="pet-picture">
                        <img th:src="${pet.imageUrl}" alt="Profile Photo">
                    </div>
                    <div class="pet-details">
                        <p class="pet-name"><span>Name: &nbsp</span><span th:text="${pet.name}"></span></p>
                        <p class="pet-species"><span>Species: &nbsp</span><span th:text="${pet.species.speciesName}"></span></p>
                        <p class="pet-breed"><span>Breed: &nbsp</span><span th:text="${pet.breed}"></span></p>
                        <p class="pet-age"><span>Date of birth: &nbsp</span><span th:text="${#temporals.format(pet.dateOfBirth, 'dd-MM-yyyy')}"></span></p>
                    </div>
                </div>
                <div class="buttons">
                    <form th:action="@{'/pets/' + ${pet.id} + '/medical-records'}" th:method="GET">
                        <button>View medical records</button>
                    </form>
                    <form th:method="DELETE" th:action="@{'/pets/' + ${pet.id} + '/delete'}">
                        <button>Delete pet</button>
                    </form>
                </div>
            </li>
        </ul>
        <h2 class="no-content" th:if="${pets.isEmpty()}">You don't have any pets yet</h2>
        <div class="notifications" id="notifications">
        <p>Loading data...</p>
    </div>
    </div>
</main>
<script th:src="@{/js/fetch-notifications.js}"></script>
</body>
</html>