<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet Med App</title>
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/header.css"/>
  <link rel="stylesheet" href="/css/vet-edit-profile.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
<header th:insert="~{fragments/commons::nav}"></header>

<main>
  <div class="container">
    <form th:action="@{/users/profile}" th:method="PATCH" th:object="${vetData}">
      <h1>Edit profile</h1>

      <label for="first-name">First name</label>
      <input type="text" id="first-name" name="first-name" placeholder="First Name" th:field="*{firstName}">
      <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

      <label for="last-name">Last name</label>
      <input type="text" id="last-name" name="last-name" placeholder="Last Name" th:field="*{lastName}">
      <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" placeholder="Phone" th:field="*{phone}">
      <span class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>

      <label for="clinic-name">Clinic name</label>
      <input type="text" id="clinic-name" name="clinic-name" placeholder="Clinic Name" th:field="*{clinicName}">
      <span class="error" th:if="${#fields.hasErrors('clinicName')}" th:errors="*{clinicName}"></span>

      <label for="city">City</label>
      <select id="city" th:field="*{city}">
        <option th:value="${city}">Select City</option>
        <option th:each="city : ${T(com.petMed.clinic.model.CityName).values()}" th:value="${city}" th:text="${city.cityName}"></option>
      </select>
      <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

      <label for="address">Address</label>
      <input type="text" id="address" name="address" placeholder="Address" th:field="*{address}">
      <span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>

      <label for="site">Site</label>
      <input type="text" id="site" name="site" placeholder="Site" th:field="*{site}">
      <span class="error" th:if="${#fields.hasErrors('site')}" th:errors="*{site}"></span>

      <button type="submit">Save</button>
    </form>
  </div>
</main>
</body>
</html>